                                                  <td valign="top">
                                                    <div id="marginal"> 
                                                    <!-- quicklinks-section -->
                                                      <div id="quicklinks" style="margin-left:8px;">
                                                        <div class="plainBox-top">
                                                            <div style="font-size:1.5em;font-weight:bold;margin-left:35px;padding-top:5px;">
                                                            Some info
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="plainBox-cnt">
                                                          <div class="plainBox-cnt-top">
                                                            <div class="plainBox-cnt-bot">
                                                              <br>
                                                              <ul class="none">
                                                                <li><a href="index.php?n=account&sub=register"><img src="<?php echo $config['template_href'];?>images/acc_creation.jpg"><?=$lang['account_create']?></a></li>
                                                                <li><a href="index.php?n=account&sub=manage"><img src="<?php echo $config['template_href'];?>images/acct_management.jpg"><?=$lang['account_manage']?></a></li>
                                                                <li><a href="index.php?n=server&sub=realmstatus"><img src="<?php echo $config['template_href'];?>images/realmstatus.jpg"><?=$lang['realm_status']?></a></li> 
                                                                <li><a href="./index.php?n=frontpage&sub=rules&cat=faq"><img src="<?php echo $config['template_href'];?>images/faq.jpg"><?=$lang['faq']?></a></li>
                                                                <li><a href="./index.php?n=frontpage&sub=rules&cat=patchs"><img src="<?php echo $config['template_href'];?>images/patch_notes.jpg"><?=$lang['patchs']?></a></li>
                                                                <li><a href="../313-cswowd"><img src="<?php echo $config['template_href'];?>images/wowd.jpg">CSWOWD-313</a></li>
                                                                <li><a href="../313-Armory"><img src="<?php echo $config['template_href'];?>images/wowd.jpg">Armory-313</a></li>
								                                                	
                                                               <!--
                                                               EDIT <b><em>templates/offlike/body_right.html</em></b>
                                                               to change content of this box
                                                               -->
                                                              </ul>
                                                              <br>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="plainBox-bot"></div>
                                                      </div>
														                          
														                          <div id="quicklinks" style="margin-left:8px;">
                                                        <div class="plainBox-top">
                                                            <div style="font-size:1.5em;font-weight:bold;margin-left:35px;padding-top:5px;">
                                                            Наши соседи
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        <div class="plainBox-cnt">
                                                          <div class="plainBox-cnt-top">
                                                            <div class="plainBox-cnt-bot">
                                                              <br>
                                                              <ul class="none">
                                                                <li><a href="http://169.254.6.63/index.php"><img src="<?php echo $config['template_href'];?>images/Massacre-fifa.gif">Massacre Fifa</a></li>
                                                              </ul>
                                                              <br>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="plainBox-bot"></div>
                                                      </div>
														                          
														                          
														<div id="ssotd-container">
															<div class="marginal-infoBox-top">
																<h3></h3>
																<span class="infoBox-visual ssotd"></span>
															</div>
															<div class="marginal-infoBox">
																<div class="marginal-infoBox-cnt">
																	<div id="ssotdContainer" align="center">
                                    <?php echo($rnd_screenshot); ?>
																	</div>
																</div>
															</div>
														<div class="marginal-infoBox-bottom"><!-- --></div>
													</div>
	
                                                      <!--
                                                      <div style="width: 213px; margin-left: auto; margin-right: auto; margin-top:0px; margin-bottom:0px;">
                                                        <a href="http://www.worldofwarcraft.com/burningcrusade/"><img src="<?php echo $config['template_href'];?>images/button_wowxnew.jpg" width="213" height="91" border="0"></a>
                                                      </div>
                                                      <div style="width: 213px; margin-left: auto; margin-right: auto; margin-top:0px; margin-bottom:8px;">
                                                        <a href="http://www.worldofwarcraft.com/account/recruit-a-friend.html?"><img src="<?php echo $config['template_href'];?>images/button_raf.gif" width="213" height="91" border="0"></a>
                                                      </div>
                                                      -->
                                                    </div>
                                                    <!-- #marginal end -->
                                                  </td>
                                                  
